.documents-wrapper {
    background-color: #eee7f7;
    min-height: 100vh;
}

@media only screen and (min-width: 600px) {
    .documents__panel {
        display: flex;
        align-items: center;
        justify-content: space-between; 
    }
}
