:root {
  --clr-base: #989898;
  --clr-base-light: #bfbfbf;
  --clr-base-dark: #6e6e6e;
  --clr-border-light: #ebebeb;
}

body {
    min-height: 100vh;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    color: var(--clr-base)
}
