:root {
  --clr-base: #989898;
  --clr-base-light: #bfbfbf;
  --clr-base-dark: #8b8c93;
  --clr-border-light: #ebebeb;
  --clr-bg: #FFFFFF;
  --clr-error: #F55;
  --clr-primary-blue: #4450b1;
}

body {
    min-height: 100vh;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    color: var(--clr-base)
}

.btn {
    padding: .5rem;
    cursor: pointer;
    border: none;
    border-radius: 4px;
    height: fit-content;
    font-weight: bold;
}

.btn--primary {
    background-color: var(--clr-primary-blue);
    color: var(--clr-bg);
}

.btn-icon {
    cursor: pointer;
}